body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sections {
    display: flex;
}

.header-sections {
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    /* margin: 5px; */
}

.section-button {
    color: white; 
    background-color: black; 
    padding: 8px 16px; 
    border-radius: 4px; 
    text-decoration: none; 
    cursor: pointer; 
    font-weight: bold; 
    border: none;
}

.section-button:hover {
    color: #626279;
}

.settings img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 90%;
    top: 2%;
}
